body {
  margin: unset;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 1fr;
}

nav {
  grid-column: 1;
  background-color: lightcoral;
}

main {
  grid-column: 2;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
